.header {
    grid-area: header;
    background-color: rosybrown;
    margin-left:10px;
    margin-bottom: 10px;
}

.header img {
    width: 60px;
    margin: 5px;

}

.loginBlock {
    float:right;
}

.loginBlock .a {
    color: white;
}

